fastapi
uvicorn
pydantic
python-dotenv
langgraph
langchain-core
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
langchain-community
langchain-chroma
pypdf
docx2txt
pandas
openpyxl
langchain-text-splitters
flake8
mypy
streamlit
requests
